<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quotes.app.repoditory.CategoryMapper">
	
	<select id="selectCategoryById" resultType="com.quotes.app.entity.Category">
		select * from categories where id = #{id}
	</select>
	
	
	
	
	
	
	
	
	
	
	
</mapper>